@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');

* {
    list-style: none;
    text-decoration: none !important;
    color: black !important;
}

.header {
    display: flex;
    align-items: center;
}

.header__navegacion {
    display: flex;
    align-items: center;
}


.header__texto {
    font-weight: 600 !important;
    font-size: .7rem;
    margin: auto;
    font-family: "Dancing Script", cursive !important;
    text-shadow: 1px 1px 2px white, 0 0 1em white, 0 0 0.2em black;
    color: white !important;
}

.header__lista {
    display: flex; 
    margin: auto;
    gap: 10px;
}



/* Main */

.main__principal {
    background-image: linear-gradient(rgba(0, 0, 0, 0.954), rgba(0, 0, 0, 0.821));
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    align-content: center;
    
}

.main__contenido {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 15px;
    gap: 15px;
}

.main__item-btn {
}

.main__navegacion {
    display: flex;
    position: fixed;
    width: 100%;
    height: 3rem;
    background-color: rgba(255, 255, 255, 0.63);
    bottom: 0%;
}









