@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');

* {
    list-style: none;
    text-decoration: none !important;
    color: black !important;
}

.header {
    display: flex;
    align-items: center;
    z-index: 999;
}

.header__navegacion {
    display: flex;
    align-items: center;
}


.header__logo {
    width: 4rem;
}

.header__lista {
    display: flex; 
    margin: auto;
    gap: 10px;
}

.header__item {
    background-color: rgba(255, 136, 0, 0.493);
    padding: .6rem;
    font-family: "Nunito", sans-serif !important;   
    border-radius: 25px;
}



/* Main */

.main {
    background-image: linear-gradient(rgba(0, 0, 0, 0.954), rgba(0, 0, 0, 0.821));
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    align-content: center;
}

.main__principal {
    display: flex;
    flex-direction: column;
    padding-top: 4rem;
}

.main__canciones {
    justify-content: center;
}

.contenido__img {
    width: 3rem;
    height: 3rem;
}

.card-img-overlay {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.4)) !important;
}

.card {
    background: transparent !important;
    width: 90% !important;
    margin: auto;
    border-radius: 25px;
    border-color: black !important;
}

.card-albums {
    font-weight: 900;
    font-family: "Dancing Script", cursive;
    text-shadow: 1px 1px 2px white, 0 0 1em white, 0 0 0.2em black;
    font-size: 2rem !important;
    color: white !important;
}




.main__item-btn {
}

.main__navegacion {
    display: flex;
    position: fixed;
    width: 100%;
    height: 3rem;
    background-color: rgba(255, 255, 255, 0.63);
    bottom: 0%;
}


/* Artista.html */

.artista__img {
    top: 11%;
    right: 0%;
    left: 0%;
    width: 90%;
    border-radius: 15px;
}





